<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cyclon</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://kit.fontawesome.com/ffc1a57fff.js" crossorigin="anonymous"></script>
    <style>
        .navbar-brand {
            display: flex;
            align-items: center;
        }

        .navbar-nav {
            display: flex;
            align-items: center;
        }

        .navbar-nav .nav-link {
            display: flex;
            align-items: center;
            margin-right: 10px;
            font-size: 1.5rem;
        }

        .search-container {
            display: flex;
            justify-content: center;
            flex-grow: 1;
            margin: 0 10px;
        }

        .search-input {
            height: 40px;
            padding: 10px;
        }

        .search-button {
            height: 40px;
            padding: 10px 20px;
        }

        #menuDropdown {
            margin-left: auto;
        }

        @media (max-width: 991.98px) {
            .navbar-brand img {
                width: 120px;
                height: auto;
            }

            .search-input {
                width: 150px;
            }

            .search-button {
                padding: 10px;
            }

            .hide-on-mobile {
                display: none !important;
            }

            .navbar>.container-fluid {
                flex-wrap: nowrap;
            }

            .search-container {
                margin: 0 5px;
            }
        }

        @media (max-width: 575.98px) {
            .navbar-brand img {
                width: 100px;
            }

            .search-input {
                width: 120px;
            }

            .search-button {
                padding: 5px 10px;
            }

            .search-container {
                margin: 0 2px;
            }
        }

        @media (max-width: 459.98px) {
            .navbar-brand img {
                width: 80px;
            }

            .search-input {
                width: 80px;
                font-size: 0.8rem;
            }

            .search-button {
                padding: 2px 5px;
                font-size: 0.8rem;
            }

            #menuDropdown .btn {
                padding: 0.25rem 0.5rem;
            }

            .navbar-toggler-icon {
                width: 1em;
                height: 1em;
            }
        }

        @media (min-width: 992px) {
            .search-input {
                width: 300px;
            }

            #menuDropdown {
                display: none;
            }
        }

        .dropdown-menu-end {
            right: 0;
            left: auto;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/images/Logo.png" alt="Cyclon Logo" width="150" height="50" class="d-inline-block align-top">
            </a>
            <div class="search-container">
                <form class="d-flex w-100" action="/shop" method="GET">
                    <input class="form-control me-2 search-input" type="search" placeholder="Search" aria-label="Search"
                        name="search" value="{{search}}">
                    <button class="btn btn-outline-success search-button" type="submit">Search</button>
                </form>
            </div>
            <div class="dropdown" id="menuDropdown">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                    {{#if userData}}
                    <li><a class="dropdown-item" href="/profile">Profile</a></li>
                    <li><a class="dropdown-item" href="/orders">Orders</a></li>
                    <li><a class="dropdown-item" href="/wishlist">Wishlist</a></li>
                    <li><a class="dropdown-item" href="/wallet">Wallet</a></li>
                    <li><a class="dropdown-item" href="/coupons">Coupons</a></li>
                    <li><a class="dropdown-item"  href="/cart">Your Cart</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#" data-bs-toggle="modal"
                            data-bs-target="#logoutModal">Logout</a></li>
                    {{else}}
                    <li><a class="dropdown-item" href="/login">Login</a></li>
                    <li><a class="dropdown-item" href="/signup">Signup</a></li>
                    {{/if}}
                </ul>
            </div>
            <div class="navbar-nav ms-auto d-none d-lg-flex">
                {{#if userData}}
                <a class="nav-link" href="/cart"><i class="fas fa-shopping-cart"></i></a>
                <a class="nav-link" href="/wishlist"><i class="fa-solid fa-heart" style="color:red;"></i></a>
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person fs-2"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/profile">Profile</a></li>
                        <li><a class="dropdown-item" href="/orders">Orders</a></li>
                        <li><a class="dropdown-item" href="/wishlist">Wishlist</a></li>
                        <li><a class="dropdown-item" href="/wallet">Wallet</a></li>
                        <li><a class="dropdown-item" href="/coupons">Coupons</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#" data-bs-toggle="modal"
                                data-bs-target="#logoutModal">Logout</a></li>
                    </ul>
                </div>
                {{else}}
                <a class="nav-link" href="/cart"><i class="fas fa-shopping-cart"></i></a>
                <a class="nav-link" href="/wishlist"><i class="fa-solid fa-heart" style="color:red;"></i></a>
                <a class="nav-link" href="/login">Login</a>
                <a class="nav-link" href="/signup">Signup</a>
                {{/if}}
            </div>
        </div>
    </nav>

    <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="logoutModalLabel">Confirm Logout</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to log out?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <a href="/logout" class="btn btn-primary">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const searchInput = document.querySelector('input[name="search"]');
            const suggestionBox = document.createElement('div');
            suggestionBox.classList.add('suggestions');

            searchInput.parentElement.appendChild(suggestionBox);

            searchInput.addEventListener('input', function () {
                const query = this.value;

                if (query.length > 0) {
                    fetch(`/search-suggestions?query=${query}`)
                        .then(response => response.json())
                        .then(suggestions => {
                            suggestionBox.innerHTML = '';
                            suggestions.forEach(suggestion => {
                                const div = document.createElement('div');
                                div.textContent = suggestion;
                                suggestionBox.appendChild(div);
                            });
                        });
                } else {
                    suggestionBox.innerHTML = '';
                }
            });
        });
    </script>

</body>

</html>