<link rel="stylesheet" href="/stylesheets/home.css">
{{> user/header}}

<section class="banner">
    <div class="shop-button-container">
        <a href="/shop" class="btn shop-btn">Shop</a>
    </div>
    <div class="container banner-container">
        <div class="banner-text">
            <h1>Top Selling product</h1>
            <p>{{product.description}}</p>
            <a href="/product/{{product._id}}"><button class="btn">Buy Now</button></a>
        </div>
        <div class="banner-image">
            <img src="/uploads/resized/{{product.productImages.[0]}}" alt="New Model Cycle">
        </div>
    </div>
</section>

<section class="products">
    <div class="container">
        <h2>Our cycle</h2>
        <div class="product-item">
            <div class="product-image">
                <img src="/images/marin 1.png" alt="Cycle 1">
            </div>
            <div class="product-text">
                <h3>Cycles</h3>
                <p>This cycle provides the best experience for all the riders who love the outdoors.</p>
                <p class="price">Price: ₹20000</p>
            </div>
        </div>
        <div class="product-item">
            <div class="product-image">
                <img src="/images/marin 1.png" alt="Stylish Cycle">
            </div>
            <div class="product-text">
                <h3>Stylish Cycle</h3>
                <p>Modern design with the latest features to give you an edge on the road.</p>
                <p class="price">Price: ₹25000</p>
            </div>
        </div>
        <div class="product-item">
            <div class="product-image">
                <img src="/images/marin 1.png" alt="Modern Cycle">
            </div>
            <div class="product-text">
                <h3>Modern Cycle</h3>
                <p>Engineered for performance, this cycle is built to handle all terrains.</p>
                <p class="price">Price: ₹3000</p>
            </div>
        </div>
    </div>
</section>

<section class="about">
    <div class="container about-container">
        <h2>About Our Cycle Store</h2>
        <img src="/images/marin.jpg" alt="About Our Cycle Store">
        <p>Our store offers a wide range of cycles for every type of rider. Whether you're looking for a comfortable ride in the city or an adventure in the mountains, we have the perfect cycle for you.</p>
    </div>
</section>

{{> user/footer}}
