body {
    background-color: #f4f5f7;
    font-family: 'Arial', sans-serif;
}

.sidebar {
    width: 250px;
    min-height: 100vh;
    border-right: 1px solid #ddd;
}

.sidebar h2 {
    font-size: 24px;
    text-align: center;
}

.sidebar a {
    font-size: 18px;
    color: #333;
    text-decoration: none;
}

.sidebar a.active {
    color: #fff;
    background-color: #b4f7b4;
    border-radius: 10px;
}

.sidebar a:hover {
    color: #fff;
    background-color: #b4f7b4;
    border-radius: 10px;
}

.content {
    padding-left: 20px;
    width: 100%;
}

.header {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 8px;
}

.search-bar input {
    border: 1px solid #ddd;
    padding: 6px;
    border-radius: 5px;
}

.table-wrapper {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.table th, .table td {
    vertical-align: middle;
}

.table thead th {
    background-color: #f5f5f5;
    border-bottom: 2px solid #ddd;
}

.table tbody tr {
    background-color: #f9f9f9;
}

.pagination .page-item .page-link {
    color: #333;
    border: 1px solid #ccc;
}

.pagination .page-item.active .page-link {
    background-color: #f0d405;
    border-color: #f0d405;
    color: #fff;
}

.icon-group i {
    font-size: 1.5rem;
}

.icon-group i + i {
    margin-left: 15px;
}

.search-bar i {
    font-size: 1.2rem;
}

.search-bar input {
    margin-left: 5px;
}